<div class="myBtn">
    <h1>Bienvenido: {{user.username}}</h1>
    <p>Nombre: {{user.first_name}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Roll: {{user.role}}</p>
    <p>Age: {{user.age}}</p>
    <button class="btn"><a href="/api/auth/logout">Cerrar sesión</a></button></a>
</div>